body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



/* Mission section styles */
.mission {
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 30px;
  margin-bottom: 30px;
}

.mission h1 {
  color: #333;
  margin-bottom: 20px;
}
.join{
  text-align: center;
}
.mission p {
  color: #666;
  line-height: 1.6;
  font-size: x-large;
}

/* Point section styles */
.point {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.point h2 {
  color: #333;
  margin-bottom: 20px;
}

.point ul {
  list-style-type: none;
  padding: 0;
}

.point li {
  margin-bottom: 10px;
  color: #666;
}

.point li span {
  font-weight: bold;
  color: #333;
}

/* Join section styles */
.join {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.join h1 {
  color: #333;
  margin-bottom: 20px;
}

.join p {
  color: #666;
  line-height: 1.6;
}
.second{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.second .mission{
  display: flex;
  justify-content: center;
  align-items: center;
}
.second .mission p span{
  color: yellowgreen;
}
.join span {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}
